.credit {
    min-height: auto;
    background: #eee;
    .allsd {
        margin-bottom: 8px;
    }
    .jobdesc {
    }
    .name {
        font-weight: bold;
    }
}

.sumber {
    li {
        font-size: 1rem;
    }
}
