.datax {
    // background: #560418;
    // color: white;
    padding: 0;
    p {
        // color: white;
    }

    .bg-redx {
        background: linear-gradient(to bottom, #560418, #830000);
        padding: 32px 0;
    }

    .infox {
        display: block;
        margin: 0 auto;
        position: relative;
        .iconx {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 60px;
            height: 60px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__data {
            display: inline-block;
            width: 45%;
        }
        .names {
            background: #d3652a;
            color: white;
            padding: 4px 16px;
            width: fit-content;
            margin: 0 auto;
            border-radius: 4px;
        }
        .arrow {
            width: auto;
            height: 200px;
            margin: 0 auto;
            vertical-align: bottom;
            &.high {
                height: 230px !important;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        h3 {
            font-size: 2.2rem;
            font-weight: 700;
            &::after {
                content: "%";
                font-size: 1.5rem;
            }
        }
    }
}

// canvas {
//     margin: 16px auto 32px;
// }

.chartjs {
    height: 360px;
    @media screen and (max-width: 768px) {
        height: 300px;
    }
}

.bg-margin {
    margin: 8px 0 32px;
}

.iconx-all {
    display: block;
    margin: 0 auto;
    .iconx {
        display: inline-block;
        width: 24%;
        vertical-align: top;
        @media screen and (max-width: 768px) {
            width: 48%;
            margin-bottom: 32px;
        }
        .imgx {
            width: 80%;
            height: auto;
            margin: 0 auto;
            @media screen and (max-width: 768px) {
                width: 70%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .name {
            margin-top: 8px;
            text-align: center;
        }
    }
}
